
[Unit]
Description=My bot
After=multi-user.target
 
[Service]
Type=idle
ExecStart=/usr/bin/python3 pyprojects/tlgbot/tglbot.py
Restart=always
 
[Install]
WantedBy=multi-user.target
